FLASK_ENV=development
SECRET_KEY=change-me
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/libreria_mafalda
CORS_ORIGINS=http://localhost:5173
LOG_LEVEL=INFO

SITE_NAME=Librería Mafalda
SITE_ADDRESS=Estrada 2380, B1650 Villa Maipú, Provincia de Buenos Aires
SITE_PHONE=01131875770
SITE_EMAIL=mafaldalibreria@hotmail.com
